:root {
  --radius: 5px;
  --color-light: #f9f9f9;
  --border: 1px solid #ddd;
  --shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --bg-dark: #333;
  --color-white: #fff;
  --color-dark-light: #666;
  --color-blue: #007bff;
  --color-blue-dark: #0069d9;
}

.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: var(--color-light);
  border: var(--border);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
}

